{
   "arrowParens": "always",
   "bracketSpacing": true,
   "endOfLine": "lf",
   "printWidth": 100,
   "proseWrap": "preserve",
   "quoteProps": "consistent",
   "tabWidth": 3,
   "trailingComma": "es5",
   "semi": true,
   "singleQuote": true,
   "useTabs": false,
   "overrides": [
      {
         "files": "*.json",
         "options": {
            "tabWidth": 2
         }
      }
   ]
}
