name: CI

on:
   push:
      branches: [ main ]
   pull_request:
      branches: [ main ]

jobs:
   build:
      runs-on: ubuntu-latest
      strategy:
         matrix:
            node-version: [14.x, 16.x, 17.x]
      steps:
         - uses: actions/checkout@v2
         - name: Use Node.js ${{ matrix.node-version }}
           uses: actions/setup-node@v1
           with:
             node-version: ${{ matrix.node-version }}
         - name: Node Version
           run: node --version
         - name: Git Version
           run: git --version
         - name: Cache node_modules
           id: cache-modules
           uses: actions/cache@v1
           with:
             path: node_modules
             key: ${{ matrix.node-version }}-${{ runner.OS }}-build-${{ hashFiles('package.json') }}
         - name: Dependencies
           if: steps.cache-modules.outputs.cache-hit != 'true'
           run: yarn
         - name: Build
           run: yarn build
         - name: Test
           env:
              GIT_AUTHOR_NAME: "Simple Git Tests"
              GIT_AUTHOR_EMAIL: "tests@simple-git.dev"
           run: yarn test
